	.button{
		-fx-display: inline-block;
		-fx-background-color: #008CBA;
		-fx-font: 16px "Roboto Thin";
		-fx-text-fill: white;
		-fx-cursor: pointer;

	}

	.button:hover {
    	-fx-background-color: white;
    	-fx-text-fill: black;
    	-fx-border-color: #008CBA;
	}

	.button:active {
 		 -fx-background-color: black;
	}